.title{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.grid-size-slider {
    display: block;
    width: 200px;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    /* -webkit-transition: 0.2s; */
    transition: opacity 0.2s;
}

.grid-label {
    margin-left: 10px;
}


.button {
    font-size: 1.2rem;
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 480px;
    border: 4px solid black;
}

.box {
    outline: 1px solid grey;
    width: 30px;
    height: 30px;
}

:hover.box {
    /* background-color: rgb(121, 101, 146); */
    background-color: rgb(70, 70, 70);
    transition: 0.25s;
}

.letter:nth-child(1) { color: #ff6b6b; }
.letter:nth-child(2) { color: #4ecdc4; }
.letter:nth-child(3) { color: #45b7d1; }
.letter:nth-child(4) { color: #f9ca24; }
.letter:nth-child(5) { color: #f0932b; }
.letter:nth-child(6) { color: #eb4d4b; }
.letter:nth-child(7) { color: #6c5ce7; }
.letter:nth-child(8) { color: #e79f5c; }
.letter:nth-child(9) { color: #ca378f; }
.letter:nth-child(10) { color: #56a987; }
.letter:nth-child(11) { color: #6dca37; }
.letter:nth-child(12) { color: hsl(277, 100%, 67%); }
.letter:nth-child(13) { color: hsl(301, 28%, 69%); }
